.contents.grid-12
  .article__contents.u-mt-small
    .contents__image
      = image_tag article.image, class: "event__image"
    .contents__detail
      .contents__title
        #{article.title}
        - if article.user.advertiser?
          = image_tag 'sale.png', class: "advertiser-mark"
      .contents__user-name
        = link_to "投稿者: #{article.user.nickname}", "#{article.user.nickname}"
      .contents__button-area
        - if user_signed_in? && current_user.id == article.user.id
          .contents__button
            = link_to '', "/articles/#{article.id}/edit", method: :get, class: "fa fa-pencil", id: "i"
          .contents__button
            = link_to '', "/articles/#{article.id}", method: :delete, class: "fa fa-trash", id: "i",  data: {confirm: '本当に削除しますか？'}
    .contents__infomaiton
      .contents__more
        = link_to "もっと詳しく見る", "/articles/#{article.id}"
