%header.header
  .header__bar.row
    %h1.grid-6
      = link_to image_tag('popcorn-logo.png', class: "logo__images"), "/"
    - if user_signed_in?
      .user_nav.grid-6
        %span
          = "#{current_user.nickname}さん"
          %ul.user__info
            %li
              = link_to 'マイページ', "/users/#{current_user.id}"
              = link_to "ログアウト", destroy_user_session_path, method: :delete
        = link_to '投稿する', "/articles/new", class: "post"
    - else
      .grid-6
        = link_to "ログイン", new_user_session_path, class: 'post'
        = link_to "新規登録", new_user_registration_path, class: 'post'