!!!
%html
  %head
    %title indA
    = stylesheet_link_tag 'pc/application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag "pc/application", "data-turbolinks-track" => true
    = csrf_meta_tags

    %link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    = favicon_link_tag('favicon.ico')


    :javascript
      WebFontConfig = {
        google: { families: [ 'Unica+One::latin' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
  %body

    - unless content_for?(:hide_header)
      = render './header'
    = yield
    - unless content_for?(:hide_header)
      = render './footer'