.content_post{:style => "background-image: url(#{article.image});"}
  -# - if user_signed_in? && current_user.id == obj.user.id
    .more
      %span= image_tag 'arrow_top.png'
      %ul.more_list
        %li
          = link_to '編集', "/obtrs/#{obj.id}/edit", method: :get
        %li
          = link_to '削除', "/obtrs/#{obj.id}", method: :delete
  %p
    = br(article.text)
  %span.name
    %a{:href => ""}
      %span 出品者
      -# # = obj.user.nickname