.contents.row
  = form_tag "/articles/#{@article.id}", method: :patch do
    %h3 編集する
    = text_field_tag :image, '', placeholder: 'Image Url', value: @article.image, autofocus: 'true'
    = text_area_tag :text, "#{@article.text}", placeholder: 'Text', size: '30x10'
    = submit_tag 'SENT'